<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#register").click(function(){
				var d = $("#registerform").serialize();
				$.post("__APP__/Home/Login/register",d,function(data){
					if(data == "OK")
					{
						window.location.href="__APP__/Home/Index/index";
					}
					else
					{
						$("#error").css("display","block");
						$("#errorcontent").html(data);
					}
				});
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="row" style="background-color: #c40000;">
            <div class="col-md-offset-5 col-md-2"><h3 style="color:white; margin-top: 10%;"><a href="__APP__/Home/Index/index" style="color:white; text-decoration: none;">Coffee Online</a></h3></div>
            <div class="col-md-offset-10">
                <ul class="nav nav-pills" style="margin-top: 1%;margin-left: 30%;">
                  <li role="presentation"><a style="color: white; font-size: 20px;" href="__APP__/Home/Login/index">Register</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 1%;">
        	<div class="col-md-12">
        		<img src="__ROOT__/Public/img/login.jpg" style="width: 100%;">
        	</div>
        	<div style="z-index: 1;position: absolute;top: 22%;left: 69%;background-color: white; padding: 3% 3% 3% 3%; background-color: #000000;">
        		<form style="color:white;" id="registerform">
				  <div class="form-group">
				    <label for="exampleInputName2">UserName</label>
				    <input type="text" class="form-control" name="username">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" name="password" placeholder="Password">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputName2">Name</label>
				    <input type="text" class="form-control" name="name">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputName2">telephone</label>
				    <input type="text" class="form-control" name="phone">
				  </div>
				  <div id="error" class="form-group" style="display: none;">
				    <label id="errorcontent" for="exampleInputName2" style="color:white;"></label>
				  </div>
				  <button type="button" id="register" class="btn btn-default">Register</button>
				</form>
        	</div>
        </div>
	</div>
</body>
</html>
